body {
    background-image: url("taust.jpg");
    background-size: auto;
}

h1 {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 75px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 20px;
    text-shadow: 0 2px 2px #ffa6c2;
}

.column {
    float: right;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.link {
    border: none;
    color: white;
    text-align: center;
    font-family: fantasy;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 7px;
    cursor: pointer;
}

.pilt {
    width: 25%;
    float: right;
}

.instagram {
    width: 30px;
    padding-top: 2px;
}

.fb {
    width: 40px;
}

.twitter {
    width: 40px;
}